div.layer-1 {
    .layer-2 {

        .layer-3 {
            .layer-4 {
                height: 100px;
            }
        }
        background-color: blue;
        padding: 20px;
    }
    background-color: red;
    margin-bottom: 20px;
    padding: 10px;
    width: 500px;
}
h1,h2,h3 {
  margin: auto;
  color: #cc0000;
}
div.layer-1 {
  .layer-2 {
    background-color: blue;
    padding: 20px;
    .layer-3 {
      background-color: yellow;
    }
  }
  background-color: red;
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
}
#d2 {
  display: none;
}
